

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    

}

header {
    background-image: url(../img/header2.jpg);
    background-color: #f2f2f2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.navbox{
    display: flex;
    justify-content: center   ;
    

}
.navbox a{
    padding: 20px;
    align-self: center;
    text-decoration: none;
    
    
    
}
button {
    background-color: #ffc300;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    align-self: center;
}

.explanation {
    display: flex;
    flex-wrap: wrap;

}

.box {
    
    flex: 1 1 250px;
    border: black 1px solid;
    height: 200px;
    
   
    
    
}

.content {
    display: flex;
    flex-wrap: wrap;
     
    
    
}
.description {
    color: #f2f2f2;
    background-color: #13293d;
    flex: 1 1 480px;
    height: 200px;
    text-align: center;
    
    
}
.description2 {
    background-image: url(../img/undraw_like_dislike_1dfj.png
    );
    background-size: contain;
    background-position: center;

    
    
}
.description3{
    background-image: url(../img/undraw_Mobile_app_p3ts.png);
    background-size: contain;
    background-position: center;
}

.specification {
    background-color: rgb(236, 134, 0);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}
.boxspe {
    flex: 1 1 250px;
    border: 1px solid goldenrod;
    
   
}
/* .highlight {
    height: 100vh;
    background-color: rgb(135, 222, 174);
    grid-column: -1/1;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    
} */


/*<----------- @media queries ---------------->*/
    /* @media only screen and (max-width: 600px) {
    .explanation {
        flex-direction: column;
    }
    } */






/* <---------- Contact page ------------->  */

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: cadetblue;
}