

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* padding-right: 100px;
    padding-left: 100px; */
    

}
                /* HEADER SECTION  */

header {
    background-image: url(../img/header2.jpg);
    background-color: #f2f2f2;
    background-size: contain;
  
    height: 100vh;
}

 header .Imgheader{
   
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.navbox{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    font-size: 20px;
    background-color: rgba(63, 127, 191, 0.9) ;
    border-radius: 10px;

    

}
.navbox a{
    padding: 20px;
    flex: 1, 1, auto;
    align-self: center;
    text-decoration: none;
    

    
    
    
}
button {
    background-color: #ffc300;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    align-self: center;
}
.fas.fa-bars {
    display: none;
}

                    
                /* FEATURE SECTION  */

.explanation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.box {
    
    flex: 1 1 250px;
    border: black 1px solid;
    height: 200px;
    
}

.box h4, p {
    margin:10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
     
    
    
}

/* --------------SECTION CONTENT ---------------- */
                    
.description {
    color: #f2f2f2;
    background-color: #13293d;
    flex: 1 1 480px;
    height: 200px;
    text-align: center;
    align-items: center;
    
    
}

 .content img.imgdescription {
    display: block;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    
    
}


.content p {
    margin: 10px;
}

 /*------------- SPECIFICATION SECTION -----------------  */

.specification{
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    /* grid-template-areas: 'spe1 spe2 spe3'
                            'spe4 spe5 spe6'; */
    grid-template-rows: auto;
    height: 100%    ;
}
.boxspe{
    height: auto;
    border: 1px solid rgb(29, 23, 8);
    background-color: rgb(236, 134, 0);

}
.boxspe.spe1, .boxspe.spe3, .boxspe.spe4, .boxspe.spe6 {
    
    height: auto;
    border: 1px solid rgb(29, 23, 8);
    background-color: rgb(236, 134, 0);
    text-align: center;

    
    
}
.boxspe.spe5 img {
    /* background-image: url(../img/CUSCINO_MG_8508_foto1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem; */
    height: 13rem ;
    width: 13rem    ;
    
}

 /*----------- FOOTER SECTION---------------- */

.footcontainer {
    height: auto;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.listone, .listtwo {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
   

}



/*<----------- @media queries ---------------->*/
    @media only screen and (min-width: 600px) {
    .specification {
         display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .spe1 {
    grid-column: 1, 1;
    grid-row: 1 /span 1;
    }
    .fas.fa-bars {
        display: block;
    }
    
}

@media only screen and (max-width: 500px){
    .content img.imgdescription{
        width: 50%;
        padding: 10px;
    }
    .navbox {
        display: none;
    }
    .fas.fa-hamburger {
        display: block;
    }
}






/* <---------- Contact page ------------->  */

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: cadetblue;
}